[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2.0"
django-storages = "*"
zappa = "*"
postgres-copy = {editable = true,git = "https://github.com/rji-futures-lab/django-postgres-copy",ref = "no-reqs"}
psycopg2-binary = "*"
urllib3 = ">=1.24.2"
django-bootstrap4 = "*"
django-phonenumber-filter = "*"
django-debug-toolbar = "*"
pillow = "*"
django-tastypie = "*"
boto3 = "*"
requests = "*"
django-environ = "*"

[dev-packages]
django-debug-toolbar = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
python-coveralls = "*"
ipython = "*"
ipdb = "*"
awscli = "*"

[requires]
python_version = "3.7.3"
